<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Speech recorder</title>
</head>

<body>

  <h1>Record this app</h1>
  <div id="all">
<button id="start">Start</button>
<h2 id="ok">batti bala</h2>
    <form method="post">


      {% csrf_token%}
      <button id="stop">Stop</button>
    </form>


    <audio id="player1" controls>
      <source src="" id="source1" type="audio/wav">
    </audio>
<h2 id="ok1">batti nivau</h2>
<button id="start1">Start</button>
    <form method="post">


      {% csrf_token%}
      <button id="stop1">Stop</button>
    </form >


    <audio id="player2" controls>
      <source src="" id="source2" type="audio/wav">
    </audio>
  </div>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script>
    var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
    var container = document.querySelector("#all");
    var title = container.querySelectorAll("h2");
    // var title1=document.querySelectorAll('h2').innerHTML;
    list = []
    for (var i = 0; i < 2; i++) {
      list.push(title[i].innerHTML);
    }
  var stopButton1 = document.getElementById("stop");
    var startaudio1 = document.getElementById("start");
    var stopButton2 = document.getElementById("stop1");
    var startaudio2 = document.getElementById("start1");

    stopButton1.disabled = true;
    stopButton2.disabled = true;
    startaudio1.onclick = function() {
      text1 = list[0];

      runapp(startaudio1, stopButton1, text1,);
    };

    startaudio2.onclick = function() {
      text2 = list[1];
      console.log("a");
      runapp(startaudio2, stopButton2, text2);
    };


    function runapp(startaudio, stopButton, text) {
      console.log("ok");
      const handleSuccess = function(stream) {
        var chunks = [];
         console.log("apple");
          const mediaRecorder = new MediaRecorder(stream);
          startaudio.disabled = true;
          stopButton.disabled = false;
          mediaRecorder.start();
        mediaRecorder.ondataavailable = function(e) {
          if (e.data.size > 0) {
            chunks.push(e.data);
          }
        };

        stopButton.onclick = function() {
          stopButton.disabled = true;
          startaudio.disabled = false;
          mediaRecorder.stop();
        };
        mediaRecorder.onstop = function() {

          var blobs = new Blob(chunks, {
            'type': 'audio/wav; codecs=opus'
          });
          chunks = [];
          audioUrl = URL.createObjectURL(blobs);
          let command = text;
          $("#source").attr('src', audioUrl);
          $("#player")[0].load();

          let response = fetch("{% url 'download' text='123' %}".replace(/123/, command), {
            method: "post",
            body: blobs,
            headers: {
              "X-CSRFToken": csrfToken
            },
          });



        };
      };
      navigator.mediaDevices.getUserMedia({
          audio: true,
          video: false
        })
        .then(handleSuccess);
    }


  </script>


</body>

</html>
