<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Speech recorder</title>
  </head>
  <body>

    <h1>Record this app</h1>
    <h2 id="ok">batti bala</h2>
    <button id="start">Start</button>
    <form  method="post">

    {% csrf_token%}

    <button id="stop">Stop</button>

</form method="post">


<audio id="player" controls>
  <source src=""  id="source" type="audio/wav">

</audio>
<form class="" action="{%url 'index'%}" >
<input type="submit" name="" value="See text">
</form>
 <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script>
    var csrfToken=$('input[name="csrfmiddlewaretoken"]').val();


    // const player =document.getElementById('player')

    const stopButton = document.getElementById('stop');
    const startaudio=document.getElementById('start');
    stopButton.disabled=true;

    const handleSuccess = function(stream) {
      var chunks = [];
      const mediaRecorder= new MediaRecorder(stream);
      startaudio.onclick=function(){
        startaudio.disabled=true;
        stopButton.disabled=false;
        mediaRecorder.start();
      };
      mediaRecorder.ondataavailable = function(e) {
      if (e.data.size > 0) {
       chunks.push(e.data);
     }};

      stopButton.onclick=function(){
      stopButton.disabled=true;
      startaudio.disabled=false;
      mediaRecorder.stop();
    };
    mediaRecorder.onstop=function(){

    var blobs= new Blob(chunks, { 'type' : 'audio/wav; codecs=opus' });
    chunks=[];
    audioUrl=URL.createObjectURL(blobs);
    let command=document.getElementById('ok').innerHTML;
    $("#source").attr('src',audioUrl);
    $("#player")[0].load();

    let response=fetch("{% url 'download' text='123' %}".replace(/123/, command), {
        method: "post",
        body: blobs,
        headers: { "X-CSRFToken": csrfToken },
      });



    };
 };
navigator.mediaDevices.getUserMedia({ audio: true, video: false })
          .then(handleSuccess);

  </script>


  </body>

</html>
