<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Speech recorder</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="icon" type="image/png" sizes="32x32" href="https://www.freefavicon.com/freefavicons/objects/45-record-album-152-4835.png">
  <style media="screen">
  body {
    background-color: #D3D3D3;
    font-family: "Montserrat", sans-serif;
  }
  h1{
    font-family: "Times New Roman", Times, serif, Helvetica;
  }
  h2{
    margin-bottom: 5px;
  }
  button{
    background-color:#B0C4DE;
    border-radius: 50px;
    margin-bottom: 5px;
  }
  button:hover {
    opacity: 0.5;
  }
  footer {
    background-color: #D3D3D3;
  }
  #all{
    background-color: #DCDCDC;
  }
  </style>
</head>

<body>

  <h1 class="text-center">Record the sound</h1>
  <p class="text-center">This site lets you record your voice related to different nepali text. When you start recording 4
    second of sound is recorded and saved.</p>
  <div id="all">
    <div class="row mb-4 ml-5 mr-1">
      <div class="col-lg-4 mt-3 text-center">
        <h2 lang="ne">बत्ती बाल</h2>
        <button id="start1">Start Recording</button><br>
        <form method="post">
          {% csrf_token %}
          <audio id="player1" controls>
            <source src="" id="source1" type="audio/wav">
          </audio>
        </form>
      </div>
      <div class="col-lg-4 mt-3 text-center">
        <h2 lang="ne">बत्ती निबाउ</h2>
        <button id="start2">Start Recording</button><br>
        <audio id="player2" controls>
          <source src="" id="source2" type="audio/wav">
        </audio>
      </div>
      <div class="col-lg-4 mt-3 text-center">
        <h2 lang="ne">ढोका खोल</h2>
        <button id="start3">Start Recording</button><br>
        <audio id="player3" controls>
          <source src="" id="source3" type="audio/wav">
        </audio>
      </div>
    </div>
    <div class="row mb-4 ml-5 mr-1">
      <div class="col-lg-4 mt-3 text-center">
        <h2 lang="ne">ढोका बन्द गर</h2>
        <button id="start4">Start Recording</button><br>
        <audio id="player4" controls>
          <source src="" id="source4" type="audio/wav">
        </audio>
      </div>
      <div class="col-lg-4 mt-3 text-center">
        <h2 lang="ne">कोठाको तापक्रम देखाउ</h2>
        <button id="start5">Start Recording</button><br>
        <audio id="player5" controls>
          <source src="" id="source5" type="audio/wav">
        </audio>
      </div>
      <div class="col-lg-4 mt-3 text-center">
        <h2 lang="ne">पानी मोटर खोल</h2>
        <button id="start6">Start Recording</button><br>
        <audio id="player6" controls>
          <source src="" id="source6" type="audio/wav">
        </audio>
      </div>
    </div>
    <div class="row mb-4 ml-5 mr-1">
      <div class="col-lg-4 mt-3 text-center">
        <h2 lang="ne">पानी मोटर बन्द गर</h2>
        <button id="start7">Start Recording</button><br>
        <audio id="player7" controls>
          <source src="" id="source7" type="audio/wav">
        </audio>
      </div>
      <div class="col-lg-4 mt-3 text-center">
        <h2 lang="ne">घर सुरक्षित गर</h2>
        <button id="start8">Start Recording</button><br>
        <audio id="player8" controls>
          <source src="" id="source8" type="audio/wav">
        </audio>
      </div>
      <div class="col-lg-4 mt-3 text-center">
        <h2 lang="ne">घर सुरक्षा निष्क्रिय गर</h2>
        <button id="start9">Start Recording</button><br>
        <audio id="player9" controls>
          <source src="" id="source9" type="audio/wav">
        </audio>
      </div>
    </div>
    <div class="row ml-5 mr-1">
      <div class="col-lg-4 text-center">
      </div>
      <div class="col-lg-4 mt-3 mb-3 text-center">
        <h2 lang="ne">ग्यास चेक गर</h2>
        <button id="start10">Start Recording</button><br>
        <audio id="player10" controls>
          <source src="" id="source10" type="audio/wav">
        </audio>
      </div>
      <div class="col-lg-4 text-center">
      </div>
    </div>
  </div>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
    var container = document.querySelector("#all");
    var title = container.querySelectorAll("h2");

    list = []
    for (var i = 0; i < 10; i++) {
      list.push(title[i].innerHTML);
    }
    var startaudio1 = document.getElementById("start1");
    var startaudio2 = document.getElementById("start2");
    var startaudio3 = document.getElementById("start3");
    var startaudio4 = document.getElementById("start4");
    var startaudio5 = document.getElementById("start5");
    var startaudio6 = document.getElementById("start6");
    var startaudio7 = document.getElementById("start7");
    var startaudio8 = document.getElementById("start8");
    var startaudio9 = document.getElementById("start9");
    var startaudio10 = document.getElementById("start10");

    startaudio1.onclick = function() {
      text1 = list[0];
      runapp(startaudio1, text1, $("#source1"), $("#player1"));
    };

    startaudio2.onclick = function() {
      text2 = list[1];
      runapp(startaudio2, text2, $("#source2"), $("#player2"));
    };

    startaudio3.onclick = function() {
      text3 = list[2];
      runapp(startaudio3, text3, $("#source3"), $("#player3"));
    };

    startaudio4.onclick = function() {
      text4 = list[3];
      runapp(startaudio4, text4, $("#source4"), $("#player4"));
    };

    startaudio5.onclick = function() {
      text5 = list[4];
      runapp(startaudio5, text5, $("#source5"), $("#player5"));
    };

    startaudio6.onclick = function() {
      text6 = list[5];
      runapp(startaudio6, text6, $("#source6"), $("#player6"));
    };

    startaudio7.onclick = function() {
      text7 = list[6];
      runapp(startaudio7, text7, $("#source7"), $("#player7"));
    };

    startaudio8.onclick = function() {
      text8 = list[7];
      runapp(startaudio8, text8, $("#source8"), $("#player8"));
    };

    startaudio9.onclick = function() {
      text9 = list[8];
      runapp(startaudio9, text9, $("#source9"), $("#player9"));
    };

    startaudio10.onclick = function() {
      text10 = list[9];
      runapp(startaudio10, text10, $("#source10"), $("#player10"));
    };


    function runapp(startaudio, text, source, player) {
      const handleSuccess = function(stream) {
        var chunks = [];
        const mediaRecorder = new MediaRecorder(stream);
        startaudio.disabled = true;
        mediaRecorder.start();
        setTimeout("autostop()", 4000);
        mediaRecorder.ondataavailable = function(e) {
          if (e.data.size > 0) {
            chunks.push(e.data);
          }
        };

        autostop = function() {
          startaudio.disabled = false;
          mediaRecorder.stop();
        };
        mediaRecorder.onstop = function() {

          var blobs = new Blob(chunks, {
            'type': 'audio/wav; codecs=opus'
          });
          chunks = [];
          audioUrl = URL.createObjectURL(blobs);
          let command = text;
          source.attr('src', audioUrl);
          player[0].load();

          let response = fetch("{% url 'download' text='123' %}".replace(/123/, command), {
            method: "post",
            body: blobs,
            headers: {
              "X-CSRFToken": csrfToken
            },
          });
        };
      };
      navigator.mediaDevices.getUserMedia({
          audio: true,
          video: false
        })
        .then(handleSuccess);
    }
  </script>


</body>

<footer>
<div class="row pt-3">

  <div class="col-lg-1">

  </div>
  <div class="col-lg-4 text-center">
    <h3>Nepal Covid-19 Update:</h3>
      <p>Total Positive Cases: {{positive}}</p>
      <p>Total Recovered: {{recovered}}</p>
      <p>Total Deaths: {{deaths}}</p>
  </div>
  <div class="col-lg-2">

  </div>
  <div class="col-lg-4 text-center">
        <h3>Project:</h3>
        <h4>Nepali Voice-Controlled Home Automation System</h4>
  </div>
  <div class="col-lg-1">

  </div>
</div>
<div class="row">
  <div class="col-lg text-center">
    <h3>I.O.E. Thapathali Campus</h3>
  </div>
</div>
</footer>
</html>
